doctype html
html
    head
        title InsToTer
        link(rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css")
    body
        h1 Ins(tagram)-to-(Twit)ter
        h2 Link your accounts first:
        ul
            li
                a(href="/instoter/twitter_login") Twitter
            li
                a(href="/instoter/instagram_login") Instagram
